#header-nav {
  background-color:#FE2E64;
  border-radius: 0;
  border:0;
}

.navbar-brand {
  padding-top: 25px;
}



.navbar-brand h1 {
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .6
}

#nav-list {
  margin-top: 10px;
  background-color: white
}



#nav-list {
  font-family: 'Jost', sans-serif;
  color: #FE2E64;
  text-align: center;
  background-color: white;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid white;
}

.section {
  background-color: lightgrey;
  margin-top: 20px; 
  padding:3px;
  position: relative;
  height: 2000px;
}

span#t1 {
  position: absolute;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  color: black;
  opacity: .8;
}


span {
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

p {
  color: black;
  padding: 35px 5px 0px 5px;
  font-family: 'Jost', sans-serif;
  font-size: 15px;
  position: relative;
}


/********** Medium devices only **********/
@media (min-width: @screen-md-min) {
  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: @screen-sm-min) {

}

/********** Extra small devices only **********/
@media {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

}